<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sticker Writing</title>
    <style>
        .sticker {
            width: 200px;
            height: 200px;
            border: 2px solid #000;
            margin: 10px;
            padding: 10px;
            display: none;
        }
    </style>
</head>
<body>

<button onclick="showSticker(1)">Sticker 1</button>
<button onclick="showSticker(2)">Sticker 2</button>
<button onclick="showSticker(3)">Sticker 3</button>
<button onclick="showSticker(4)">Sticker 4</button>

<div id="sticker1" class="sticker"></div>
<div id="sticker2" class="sticker"></div>
<div id="sticker3" class="sticker"></div>
<div id="sticker4" class="sticker"></div>

<script>
    function showSticker(sticker_design) {
		// 버튼 클릭시 해당 스티커 화면으로 이동
		
    	window.location.href = '/letter/write/' + sticker_design;
    }
    
</script>

<button type="button" onclick="location.href='/logout'">로그아웃</button>

</body>
</html>
