<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sticker Writing</title>
    <style>
        .sticker {
            width: 200px;
            height: 200px;
            border: 2px solid #000;
            margin: 10px;
            padding: 10px;
            display: none;
        }
    </style>
</head>
<body>
<h2>hello</h2>
<button type="button" onclick="location.href='/logout'">로그아웃</button>
</body>
</html>
