<!DOCTYPE html>

<!-- 확인용 임시 페이지 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>편지 작성 페이지~!</title>
	<style>
		.layout {
			width: 500px;
			margin : 0 auto;
			margin-top: 40px;
		}
		
		input {
			width: 100%;
			box-sizing: border-box;
		}
		
		textarea {
			width: 100%;
			margin-top: 10px;
			min-height: 300px;
		}
		
	</style>
</head>	
<body>
	<div class="layout">
		<form action="/letter/list" method="post">
			<input type="hidden" th:value="${stickerDesign}" name="stickerDesign"/>
			<input name="nickname" type="text"/>
			<textarea name="content"></textarea>
			<button type="submit">작성</button>
		</form>
	</div>
</body>
</html>